body {
    color: black;
    padding: 0;
    margin: 0;
}

.page_title {
    margin: 5px;
}

h1.main_content_heading, h2.main_content_heading{
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
}

ul li {
    font-size: medium;
}

ul .current {
    color: rgb(176, 105, 241);
    font-weight: bold;
}

.flex_container {
    display: flex;
    margin-top: -15px;
    margin-bottom: -15px;
    flex-direction: row;
    justify-content: center;
}

.flex_item {
    margin: 25px;
}

#profile_picture {
    border-radius: 10px;
    box-shadow: 2px 2px 5px;
}

.float_box {
    float: left;
    background-image: url("https://ucomm.unl.edu/images/brand-book/Our-marks/nebraska-n.jpg");
    background-size: 275px 275px;
    background-position: center;
    margin-right: 10px;
    margin-left: 5px;
    margin-top: 15px;
    width: 250px;
    height: 250px;
    border-radius: 5px;
    border-width: 5px;
    border-color: black;
    border-style:outset;
    padding: 2px;
}