main {
    margin-left: 144px;
    padding: 16px;
    padding-bottom: 10px;
    width: 1500px; 
    background-color: lightblue;
    transition: 1s ease;
}

hr {
    border: 1px solid darkblue;
}

.dark-theme {
    background-color: #303234;
    color: white;
    transition: 1s ease;
}