.navbar {
    width: 144px;
    height: 100vh;
    position: fixed; 
    background-color: #252e36;
    box-shadow: 1px 1px 4px 0.5px darkgray;
}

.navbar_list {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.navbar_heading {
    display:flex;
    flex-direction: column;
    width: 144px;
    background-color: lightskyblue;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
}

.navbar_heading_text {
    margin-bottom: 0;
    margin-top: 0;
}

.navbar_item {
    display:flex;
    flex-direction: horizontal;
    width: 144px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    align-items: center;
}

.navbar_item:hover {
    width: 130px;
    background-color: darkgray;
	transition: all .25s ease;
}

.navbar_link:link {
    text-decoration: none;
    color: white;
}

.navbar_link:visited {
    color: lightblue;
}

.navbar_item i {
    color: white;
    padding-right: 5px;
}

/* for the dropdown menu options */
.navbar_list div {
    position: absolute;
    margin-top: 45px;
    margin-left: 129.5px;
    background-color: #0a223a;
    color: white;
    visibility: hidden;
    z-index:999;
}
  
.navbar_list div a {
    display: block;
    width: 124px;
    background-color: rgb(74, 74, 74);
    text-align: left;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar_list div a:hover {
    background-color: lightskyblue;
    color: white;
    text-indent: 5px;
    transition: all .25s ease;
}

#navFormDropdown h4 {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

#navFormDropdown h4:hover {
    cursor: default;
}

.disabledNavLink {
    pointer-events: none;
}

.navbar_item:last-child {
    margin-top: auto;
}

#theme_button {
    font-size: 26px;
}

#theme_button:hover {
    cursor: pointer;
}